.card {
    height: 300px;
    margin: 0px 10px;
    position: relative;
    transition: 0.2s;
}

.card__btn-cont {
    padding: 0 5px;
    width: 100%;
    position: absolute;
    top: 42%;
    display: none;
    justify-content: space-between;
    align-items: center;
    border-radius: 50%;
    transition: 0.5s;
}

.card__btn--play,
.card__btn--add-list {
    background-color: rgba(34, 34, 34, 0.767);
    border-radius: 50%;
    box-shadow: 1px 1px 5px black;
    transition: 0.1s;
}

.card__btn {
    color: rgb(255, 220, 47);
}

.card:hover .card__btn-cont {
    display: flex;
}

.card:hover {
    box-shadow: 1px 1px 10px black;
}

.card__btn--play:hover,
.card__btn--add-list:hover {
    background-color: rgba(59, 59, 59, 0.878);
    color: rgb(223, 223, 223);
}