.card {
    height: 300px;
    margin: 0px 10px;
    position: relative;
    transition: 0.2s;
}

/*
.continuar-viendo {
    position: absolute;
    width: 80%;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(216, 255, 44);
    border-top-right-radius: 20px;
}*/


.card__btn-cont {
    padding: 0 5px;
    width: 100%;
    position: absolute;
    top: 42%;
    display: none;
    justify-content: space-between;
    align-items: center;
    border-radius: 50%;
    transition: 0.5s;
}

.card__btn {
    color: rgb(255, 220, 47);
}

.card__btn--play,
.card__btn--add-list,
.card__btn--remove-list {
    background-color: rgba(34, 34, 34, 0.767);
    border-radius: 50%;
    box-shadow: 1px 1px 5px black;
    transition: 0.1s;
}

.card__btn--remove-list {
    color: rgba(205, 56, 56, 0.9);
}

.card:hover .card__btn-cont {
    display: flex;
}

.card:hover {
    box-shadow: 1px 1px 10px black;
}

.card__btn--play:hover,
.card__btn--add-list:hover,
.card__btn--remove-list:hover {
    background-color: rgba(59, 59, 59, 0.878);
    color: rgb(223, 223, 223);
}