.footer {
    position: relative;
    height: 150px;
    display: flex;
    align-items: start;
    justify-content: space-around;
}

.footer::before {
    position: absolute;
    content: '';
    width: 90%;
    height: 3px;
    border-radius: 1px;
    background-color: #e1d200;
}

.footer__item {
    width: 100%;
    height: 100%;
}

.rrss-cont {
    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.legal-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.legal-cont>p {
    width: 40%;
}

.suscription-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-susc {
    font-size: 25px;
    padding: 10px 25px;
    color: rgb(127, 247, 193);
    background-color: #151515;
    border: 2px solid rgb(127, 247, 193);
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.342);
    transition: 0.4s;
    cursor: pointer;
}

.btn-susc:hover {
    font-size: 28px;
    font-weight: bolder;
    color: #151515;
    background-color: rgb(127, 247, 193);
    border: 1px solid rgb(255, 255, 255);
}

.footer__btn-return {
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}

/*MOBILE-RESPONSIVE*/

@media screen and (max-width: 700px) {
    .footer {
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px;
    }

    .legal-cont {
        font-size: 16px;
        margin: 10px;
    }

    .legal-cont p {
        text-align: center;
    }

    .footer::before {
        position: absolute;
        top: 0;
        content: '';
        width: 80%;
        height: 2px;
        border-radius: 1px;
        background-color: #e1d200;
    }

    .btn-susc {
        font-size: 18px;
        padding: 5px 15px;
    }

    .btn-susc:hover {
        font-size: 20px;
    }
}