.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.title {
    position: relative;
}

.title__main {
    font-family: 'Tilt Warp', cursive;
}

.title__main::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 75%;
    height: 4px;
    border-radius: 1px;
    background-color: #e1d200;
    ;
}

.title__sub {
    font-family: 'Tilt Warp', cursive;
    position: absolute;
    font-size: 30px;
    color: rgb(0, 0, 0);
    bottom: -14px;
    right: -10px;
    width: 100%;
    -webkit-text-stroke: 0.7px rgb(127, 247, 193);
    text-shadow: -3px -3px 5px rgba(0, 0, 0, 0.342);
    text-align: right;

}

.user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.user>* {
    padding: 0px 5px;
}