.header {
    z-index: 10;
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 10px 20px;

    background: rgb(21, 21, 21);
    background: linear-gradient(0deg, rgba(21, 21, 21, 0) 0%, rgba(21, 21, 16, 0.8) 46%, rgba(21, 21, 16, 1) 100%);
}

.title {
    position: relative;
}

.title__main {
    font-family: 'Tilt Warp', cursive;
}

.title__main::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 75%;
    height: 4px;
    border-radius: 1px;
    background-color: #e1d200;
}

.title__sub {
    font-family: 'Tilt Warp', cursive;
    position: absolute;
    font-size: 30px;
    color: rgb(0, 0, 0);
    bottom: -14px;
    right: -10px;
    width: 100%;
    -webkit-text-stroke: 0.7px rgb(127, 247, 193);
    text-shadow: -3px -3px 5px rgba(0, 0, 0, 0.342);
    text-align: right;

}

.user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.user>* {
    padding: 0px 5px;
}

.user__screen-share {
    display: none;
}

/*MOBILE-RESPONSIVE*/

@media screen and (max-width: 700px) {

    .title__main {
        font-size: 22px;
    }

    .user__name {
        display: none;
    }

    .user__screen-share {
        display: block;
    }

    .user__avatar {
        display: none;
    }
}

@media screen and (max-width: 390px) {
    .header {
        width: 100%;
        height: 55px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }




    .title__main::before {
        height: 3px;
    }

    .title__sub {
        font-size: 18px;
        bottom: -10px;
        right: -1px;
    }
}