.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__icon {
    cursor: pointer;
}

.nav>*,
.nav__list-cont li {
    padding: 0px 5px;
}

.nav__list-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    cursor: pointer;
}

/*NAV-MOBILE*/
.nav-mobile {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 22px;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 20vw;
    height: 100vh;
    background: linear-gradient(0deg, rgba(10, 10, 10, 0.5) 0%, rgba(10, 10, 10, 0.95) 27%, rgba(10, 10, 10, 1) 62%);
    padding: 15px;
}

.nav-display-none {
    display: none;
}

.nav-mobile__list-cont {
    margin-top: 20px;
    position: relative;
    padding-top: 15px;
}

.nav-mobile__list-cont::before {
    position: absolute;
    top: 0;
    content: '';
    width: 100%;
    height: 3px;
    background-color: rgb(127, 247, 193);
}

.nav-mobile__list-cont li {
    list-style: none;
    padding: 5px;
    cursor: pointer;
}

.nav-mobile__list-cont li:hover {
    background-color: #151515;
    color: rgb(127, 247, 193);
}

.btn-close-nav {
    cursor: pointer;
    position: absolute;
    right: 10px;
    color: #e1d200;
    background-color: rgb(127, 247, 193);
}

.nav-mobile_rrss {
    position: relative;
    margin-top: 100px;
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-mobile_rrss::after {
    position: absolute;
    top: 0;
    content: '';
    width: 100%;
    height: 3px;
    background-color: rgb(127, 247, 193);
}

/*MOBILE-RESPONSIVE*/
@media screen and (max-width: 1000px) {

    /*NAV-MOBILE*/
    .nav-mobile {
        z-index: 10;
        width: 30vw;
        padding: 5px;
    }
}

@media screen and (max-width: 700px) {
    .nav__list-cont {
        display: none;
    }

    /*NAV-MOBILE*/
    .nav-mobile {
        position: absolute;
        font-size: 12px;
        width: 28vw;
        height: 100%;
    }
}

@media screen and (max-width: 350px) {

    /*NAV-MOBILE*/
    .nav-mobile {
        width: 35vw;
    }
}