.section {
    margin: 10px 0px;
    width: 100%;
    position: relative;
}

.section:hover .section__btn {
    opacity: 100%;
}

.section__title {
    padding-left: 10px;
    font-size: 28px;
    text-align: left;
    margin-bottom: 1px;
}

.section__items {
    display: flex;
    padding: 15px 10px;
    max-width: 100%;
    overflow-x: auto;
}

.section__btn {
    z-index: 10;
    position: absolute;
    top: 177px;
    font-size: 30px;
    border-style: none;
    border: 2px solid aqua;
    color: aquamarine;
    padding: 10px 16px;
    background-color: rgba(34, 34, 34, 0.7);
    border-radius: 50%;
    box-shadow: 1px 1px 5px black;
    transition: 0.2s;
    opacity: 0%;
}

.btn-l {
    left: 5px;
    border-radius: 25px 5px 5px 25px;
}

.btn-r {
    right: 5px;
    border-radius: 5px 25px 25px 5px;
}


.section__items::-webkit-scrollbar {
    width: 0;
}

/*LISTA SIN ELEMENTOS*/
.list__empty {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 10px;
    width: 190px;
    height: 280px;

    background-color: rgba(59, 59, 59, 0.878);
    color: rgb(223, 223, 223);
}

/*MOBILE-RESPONSIVE*/

@media screen and (max-width: 700px) {
    .section__title {
        padding-left: 10px;
        font-size: 18px;
        text-align: left;
        margin-bottom: 1px;
    }

    .section__items {
        height: auto;
        padding: 5px 1px 0px 1px;
    }

    .card {
        height: 210px;
    }

    .card img {
        width: 180px;
        height: 210px;
    }

    .btn-l {
        display: none;
    }

    .btn-r {
        display: none;
    }

    /*LISTA SIN ELEMENTOS*/
    .list__empty {

        width: 170px;
        height: 205px;
    }

}