.section {
    margin: 10px 0px;
    width: 100%;
}

.section__title {
    font-size: 28px;
    text-align: left;
    margin-bottom: 1px;
}

.section__items {
    display: flex;
    padding: 15px 10px;
    max-width: 100%;
    overflow-x: auto;
}

/*
.section__items::-webkit-scrollbar {
    width: 0;
}*/