* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;

}

.App {
  background-color: #151515;
  color: #e1d200;
}

/*
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Rubik Iso', cursive;
font-family: 'Tilt Warp', cursive;

*/